variables:
  major: 0
  minor: 6
  patch: $[counter('versioncounter_0_6', 0)]

name: $(major).$(minor).$(patch)

pool:
  vmImage: windows-latest

trigger: none

pr: none

steps:
- task: UseDotNet@2
  displayName: 'Use 8.0 .NET Runtime'
  inputs:
    packageType: "runtime"
    version: "8.0.x"

- task: UseDotNet@2
  displayName: 'Use 9.0 .NET Runtime'
  inputs:
    packageType: "runtime"
    version: "9.0.x"

- task: UseDotNet@2
  displayName: 'Use latest .NET SDK'
  inputs:
    useGlobalJson: true

- script: |
    dotnet restore "src/Implicit/Implicit.csproj"
    dotnet restore "src/Implicit.Tests/Implicit.Tests.csproj"
    dotnet build "src/Implicit/Implicit.csproj" --no-restore -c Release /p:Version=$(major).$(minor).$(patch)
    dotnet build "src/Implicit.Tests/Implicit.Tests.csproj" --no-restore -c Release /p:Version=$(major).$(minor).$(patch)
  displayName: Restore and build projects

- script: |
    dotnet test "src/Implicit.Tests/Implicit.Tests.csproj" --no-build -c Release -l trx --results-directory $(Common.TestResultsDirectory) /p:Version=$(major).$(minor).$(patch)
  displayName: Run tests

- task: PublishTestResults@2
  inputs:
    searchFolder: "$(Common.TestResultsDirectory)"
    testRunner: VSTest
    testResultsFiles: "**/*.trx"
  condition: succeededOrFailed()
  displayName: Publish test results

- script: |
    dotnet pack "src/Implicit/Implicit.csproj" --no-build -c Release -o $(Build.ArtifactStagingDirectory) /p:Version=$(major).$(minor).$(patch)
  displayName: Pack project

- task: NuGetCommand@2
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: "Implicit"
  displayName: Push package
